{% extends "base.html" %}

{% block content %}
  <h1>Driver: {{ object.username }}</h1>
  <table>
    <thead>
        <tr>
          <th>Model</th>
          <th>Manufacturer</th>
        </tr>
      </thead>
  <tbody>
        {% for car in object.cars.all %}
          <tr>
            <td>{{ car.model }}</td>
            <td>{{ car.manufacturer.name }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="2">No cars available</td>
          </tr>
        {% endfor %}
      </tbody>


  </table>

{% endblock %}